<style>
    .ng-invalid {
        background-color: lightpink;
    }

    .ng-valid {
        background-color: lightgreen;
    }

    span.error {
        color: red;
        font-weight: bold;
    }
</style>

<h2>Check out now</h2>
<p>Enter the info for which as to buy</p>

<form name="shippingForm" novalidate>
    <div class="well">
        <h3>Ship to</h3>

        <div class="form-group">
            <label>Name</label>
            <input name="name" class="form-control" ng-model="data.shipping.name" required/>
            <span class="error" ng-show="shippingForm.name.$error.required">
                Nedz name
            </span>
        </div>

        <h3>Address</h3>

        <div class="form-group">
            <label>Street Address</label>
            <input name="address" class="form-control" ng-model="data.shipping.street" required/>
            <span class="error" ng-show="shippingForm.address.$error.required">
                Nedz address!
            </span>
        </div>

        <div class="checkbox">
            <label>
                <input name="giftwrap" type="checkbox" ng-model="data.shipping.giftwrap"/>
                Gift wrap this stuff.
            </label>
        </div>

        <div class="text-center">
            <button ng-click="sendOrder(data.shipping)"
                    ng-disabled="shippingForm.$invalid"
                    class="btn btn-primary">Complete order
            </button>
        </div>
    </div>
</form>
